<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/list_view.css">
</head>

<body>
    <h2 style="text-align: center;" data-i18n-id="lists-description">Choose the lists to show the time indicators (total
        of the board and by card)</h2>
    <div id="lists-container">
        <p data-i18n-id="loading-lists">Loading lists...</p>
    </div>
    <div class="button-container">
        <button id="save-button" class="save-button" data-i18n-id="save-button">Save</button>
        <div id="saved-message" class="saved-message" data-i18n-id="saved-message">Settings saved!</div>
    </div>

    <script src="https://p.trellocdn.com/power-up.min.js"></script>
    <script src="../js/lists_view.js"></script>
</body>

</html>